<!DOCTYPE html>
<html lang="en">

<head>
	<title>Tarun Khandagare</title>
	<meta charset="utf-8" /> {% load staticfiles %}
	<link rel="stylesheet" href="{% static 'polls/css/bootstrap.min.css' %}" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'polls/css/style.css' %}" type="text/css" />


</head>

<body class="body" style="background-color:#fcfcfc">
	<div class="container-fluid" style="min-height:90%; ">

		<div class="header" id='head'>
			<h2>Django Blog</h2>
		</div>




		<div class="row">
			<div class="col-sm-2">
				<br>
				<center>
					<div id="img">
						<img src="{% static 'polls/img/profile.jpg' %}" class="responsive-img" style='max-height:150px; ' padding="5px;" alt="face">
					</div>
				</center>
			</div>
			<div class="col-sm-6">
				<br>

				<br>
				<center>
					<h3>TARUN KHANDAGARE
						<br>
					</h3>
					<h5>
						<div id="color">Internshala student partner</div>
					</h5>
					<h6>2nd year B.E,
						<br> Computer Science & Engineering,
						<br> JNCT Bhopal
					</h6>
					<h6>Python Programmer</h6>
				</center>
			</div>
			<div class="col-sm-4">
				<br>

				<br>
				<center>
					<h3>Home Adress
						<br>
					</h3>
					<h5>
						<div id="color">Sonahill colony chakkar road betul</div>
					</h5>
					<h6>Betul (M.P.)
						<br>
						<h3>Local Address</h3>
						<h6>74 Bungalow Bhopal (M.P.)
						</h6>

				</center>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2">

				<br>

				<br>

				<!-- Great, til you resize. -->
				<!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->
				<div class="well bs-sidebar" id="sidebar" style="background-color:#fff">
					<ul class="nav nav-pills nav-stacked">
						<li>
							<a href='/'>Home</a>
						</li>
						<li>
							<a href='/blog/'>Blog</a>
						</li>
						<li>
							<a href='/contact/'>Contact</a>
						</li>
					</ul>
				</div>
				<!--well bs-sidebar affix-->
			</div>

			<div class="col-sm-6">

				<div class='container-fluid'>
					<br>
					<br>
					<center>
						{% block content %} 
						{% endblock %} </center>
				</div>
			</div>


			<div class="rightcolumn">
				<div class="card">
					<h2>About Me</h2>
					<img src="{% static 'polls/img/tarun.png' %}" class="fakeimg" style='height:300px; ' padding="1px;" alt="face">

					<p>Full Stack developer</p>
				</div>

				<div class="card">
					<h3>Follow Me on Github</h3>
					<p>
						<a href="https://github.com/tarun-developer">https://github.com/tarun-developer</a>
					</p>
				</div>


			</div>
		</div>
	</div>


	<footer>
		<div class="container-fluid" id="foot" style='margin:0 auto'>
			<center>
				<p>
					<a href="#" target="blank">Contact</a> |
					<a href="#" target="blank">LinkedIn</a> |
					<a href="#" target="blank">Twitter</a> |
					<a href="#" target="blank">Google+</a>
				</p>
			</center>
		</div>
	</footer>


</body>

</html>